<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a onclick="ga('send', 'event', 'Navbar', 'click', 'Car Concierge')" class="navbar-brand" href="{{ site.baseurl }}/#" data-trigger="scroll">
        <img src="{{ site.baseurl }}/assets/app/img/brand-header.png" alt="Car Concierge">
      </a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a onclick="ga('send', 'event', 'Navbar', 'click', 'Despre noi')" href="{{ site.baseurl }}/#despre-noi" data-trigger="scroll">Despre noi</a></li>
        <li><a onclick="ga('send', 'event', 'Navbar', 'click', 'Servicii')" href="{{ site.baseurl }}/#servicii" data-trigger="scroll">Servicii</a></li>
        <li><a onclick="ga('send', 'event', 'Navbar', 'click', 'Tarife')" href="{{ site.baseurl }}/#tarife" data-trigger="scroll">Tarife</a></li>
        <li><a onclick="ga('send', 'event', 'Navbar', 'click', 'Contact')" href="{{ site.baseurl }}/#contact" data-trigger="scroll">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>
