<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% if page.description %}
  <meta name="description" content="{{ page.description }}">
  <meta property="og:description" content="{{ page.description }}">
{% else %}
  <meta name="description" content="{{ site.description }}">
  <meta property="og:description" content="{{ site.description }}">
{% endif %}
{% if page.keywords %}
  <meta name="keywords" content="{{ page.keywords | join: ', ' | escape }}">
{% endif %}
<meta name="author" content="{{ site.author }}">
<meta name="google-site-verification" content="0I2xeJ2BNWaF6ZwzqYNPH1oQtkoXhtNZ7p27se7buQs">
<link rel="icon" href="{{ site.baseurl }}/favicon.ico">
<title>
  {% if page.slug == "front" %}
    {{ page.title }} &middot; {{ site.title }}
  {% else %}
    {{ page.title }} &middot; {{ site.title }}
  {% endif %}
</title>
<link href="https://fonts.googleapis.com/css?family=Raleway:200,400,500,600&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css">
<link href="{{ site.baseurl }}/assets/vendor/magnific-popup/css/magnific-popup.css" rel="stylesheet">
<link href="{{ site.baseurl }}/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="{{ site.baseurl }}/assets/app/css/style.min.css" rel="stylesheet">
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
