{
  "env": {
    "browser": true,
    "jquery": true
  },
  "extends": "eslint:recommended",
  "globals": {
    "ga": false,
    "goog_report_conversion": false,
    "grecaptcha": false,
    "Handlebars": false
  },
  "parser": "babel-eslint",
  "root": true
}
