---
layout: default
title: "Blog"
description: "Locul în care Car Concierge te informează, publică anunțuri și își spune povestea."
slug: blog
---

{% include partials/hero.html %}
<div class="section section-default">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="posts">
          {% for post in paginator.posts %}
            <h2 class="h3"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
            <p class="date">
              <small>
                <span class="glyphicon glyphicon-time"></span>
                {{ post.date | date: '%e %B %Y' }}
              </small>
            </p>
            <div class="entry">
              {{ post.excerpt }}
            </div>
            <p><a href="{{ post.url | prepend: site.baseurl }}" class="read-more">Citeşte tot articolul</a></p>
          {% endfor %}
        </div>
        {% if paginator.total_pages > 1 %}
          <nav class="text-center" aria-label="Navigare pagini">
            <ul class="pagination">
              {% if paginator.previous_page %}
                <li>
                  <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" aria-label="Pagina precedentă">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
              {% else %}
                <li class="disabled">
                  <a href="#" aria-label="Pagina precedentă">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
              {% endif %}
              {% for page in (1..paginator.total_pages) %}
                {% if page == paginator.page %}
                  <li class="active"><a href="#">{{ page }} <span class="sr-only">(pagina curentă)</span></a></li>
                {% elsif page == 1 %}
                  <li><a href="{{ site.baseurl }}/blog/">{{ page }}</a></li>
                {% else %}
                  <li><a href="{{ site.baseurl }}/{{ site.paginate_path | replace: ':num', page }}">{{ page }}</a></li>
                {% endif %}
              {% endfor %}
              {% if paginator.next_page %}
                <li>
                  <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" aria-label="Pagina următoare">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
              {% else %}
                <li class="disabled">
                  <a href="#" aria-label="Pagina următoare">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
              {% endif %}
            </ul>
          </nav>
        {% endif %}
      </div>
      <div class="col-md-4">
        <div class="well well-lg call-to-action">
          {% include partials/contact-form.html %}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section section-default">
  <div class="container">
    {% include partials/contact-details.html %}
  </div>
</div>
