.post-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
  margin: -40px 0 40px 0;
  padding: 15px 0 5px 0;
}

.post-footer {
  border-top: 1px solid rgba(0, 0, 0, 0.06);
  margin: 60px 0 0 0;
  padding: 15px 0 5px 0;
}

.popup-gallery > div > a {
  padding: 5px;
}
