.divider {
  border-top-width: 2px;
  margin-bottom: 60px;
  margin-top: 60px;
  width: 60px;
}

.divider-default {
  border-top-color: #ccc;
}

.divider-primary {
  border-top-color: #0080c8;
}

.section {
  padding-bottom: 80px;
  padding-top: 60px;
}

.section-default {
  background-color: #fff;
}

.section-default + .section-default {
  margin-top: 1px;
}

.section-primary {
  background-color: #0080c8;
  background-image: url('../img/header.png');
  background-position: center bottom;
  background-repeat: repeat-x;
  color: #fff;
  height: 720px;
  padding-top: 80px;
}

@media (max-width: 991px) {
  .section-primary {
    background-image: url('../img/header-md.png');
  }
}

.section-primary .lead {
  margin-top: 120px;
}

.review {
  height: 6.4em;
}

.services-controls {
  position: relative;
}

.footer {
  background-color: #fff;
  background-image: url('../img/footer.png');
  background-position: center bottom;
  background-repeat: repeat-x;
  color: #828c96;
  height: 480px;
  font-size: 14px;
  margin-top: -90px;
  padding-top: 310px;
  text-align: center;

  a {
    color: #fff;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}

.col-ms-6 {
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}

@media (min-width: 480px) and (max-width: 991px) {
  .col-ms-6 {
    float: left;
    width: 50%;
  }
}

.g-recaptcha {
  > div > div {
    margin-left: auto;
    margin-right: auto;
  }
}
