---
layout: default
---

<div class="section section-secondary">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h2>Blog</h2>
        <p class="lead">Cu Car Concierge poți rezolva orice problemă legată de un autovehicul.</p>
      </div>
      <div class="col-md-4">
        <p class="text-center">
          <img alt="Blog - carconcierge.ro" src="{{ site.baseurl }}/assets/app/img/car-other.png">
        </p>
      </div>
    </div>
  </div>
</div>
<div class="section section-default">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h2 class="h3">{{ page.title }}</h2>
        <p class="date">
          <small>
            <span class="glyphicon glyphicon-time"></span>
            {{ page.date | date: '%e %B %Y' }}
          </small>
        </p>
        <div class="entry">
          {{ content }}
        </div>
        <div class="row">
          <div class="col-md-8">
            <div class="post-tags pull-left">
              {% if page.tags.size > 0 %}
              <ul class="list-inline">
                <li>
                  <span><strong>Etichete:</strong></span>
                </li>
                {% for tag in page.tags %}
                  <li><a href="#">{{ tag }}</a></li>
                {% endfor %}
              </ul>
              {% endif %}
            </div>
          </div>
          <div class="col-md-4">
          	<div class="social-share pull-right">
    			    <ul class="list-inline">
                <li>
                  <span><strong>Distribuie articolul:</strong></span>
                </li>
    				    <li>
    				    	<a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Distribuie pe Facebook"><i class="fa fa-facebook"></i></a>
    				    </li>
    				    <li>
    				    	<a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Distribuie pe Google+"><i class="fa fa-google-plus"></i></a>
    				    </li>
    			    </ul>	
    			  </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="well well-lg call-to-action">
          {% include partials/contact-form.html %}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section section-default">
  <div class="container">
    {% include partials/contact-details.html %}
  </div>
</div>
