<div class="section section-default" id="about">
  <div class="container">
    <h2>Despre noi</h2>
    <div class="row">
      <div class="col-md-8">
        <p class="lead">Suntem o echipă care nu îl cunoaște pe „Nu se poate!” și care îl ține mereu aproape pe „Găsim o soluție!”.</p>
        <p>Ne bazăm pe încredere, profesionalism și transparență totală în relația pe care o avem cu tine, clientul nostru.</p>
        <p>Car Concierge a pornit de la o idee simplă: să ajutăm șoferii din Bucureşti să se bucure cât mai mult de autovehiculul lor, oferindu-le timp liber. Punem această idee în practică încă din 2013 și ne mândrim că am reușit să îi facem fericiți pe clienții noștri.</p>
      </div>
      <div class="col-md-4">
        <p class="hidden-md hidden-lg">&nbsp;</p>
        <p class="text-center"><img src="assets/app/img/car-front.png" alt=""></p>
      </div>
    </div>
  </div>
</div>
<div class="section">
  <div class="container">
    <p>&nbsp;</p>
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center">
        {% raw %}
          <script id="reviews-template" type="text/x-handlebars-template">
            <div class="reviews">
              {{#each reviews}}
                <div>
                  <p><img src="{{this.avatar}}" alt="{{this.reviewer}}" class="img-circle center-block"></p>
                  <p>&nbsp;</p>
                  <p class="h3 text-muted">„{{this.text}}”</p>
                  <p>&nbsp;</p>
                  <p>{{this.reviewer}}</p>
                  <p>
                    {{#with this as |review|}}
                      {{#times 5}}
                        <span class="glyphicon glyphicon-star {{#if (lt this review.rating)}} text-info {{/if}}"></span>
                      {{/times}}
                    {{/with}}
                  </p>
                </div>
              {{/each}}
            </div>
          </script>
        {% endraw %}
      </div>
    </div>
  </div>
</div>
