<div class="section section-default" id="despre-noi">
  <div class="container">
    <h2>Despre noi</h2>
    <div class="row">
      <div class="col-md-8">
        <p>Suntem o echipă pregătită să se ocupe de toate bătăile de cap care vin odată cu procurarea unei maşini noi, începând cu achiziţia ei, continuând cu înmatricularea, întreţinerea, schimbul de cauciucuri, ITP.</p>
        <p>Și nu ne ocupăm doar de mașina nouă, ci te scăpăm și de cea veche, ajutându-te s-o vinzi.</p>
        <p>Ne bazăm pe încredere, profesionalism și transparență în relația pe care o avem cu tine, clientul nostru.</p>
      </div>
      <div class="col-md-4">
        <p class="hidden-md hidden-lg">&nbsp;</p>
        <p class="text-center"><img src="assets/app/img/car-front.png" alt=""></p>
      </div>
    </div>
  </div>
</div>
