<div class="section section-default" id="despre-noi">
  <div class="container">
    <h2>Despre noi</h2>
    <div class="row">
      <div class="col-md-8">
        <p>Suntem o echipă pregătită să se ocupe de toate bătăile de cap care vin odată cu procurarea unei maşini noi, începând cu achiziţia ei, continuând cu înmatricularea, întreţinerea, schimbul de cauciucuri, ITP.</p>
        <p>Și nu ne ocupăm doar de mașina nouă, ci te scăpăm și de cea veche, ajutându-te s-o vinzi.</p>
        <p>Ne bazăm pe încredere, profesionalism și transparență în relația pe care o avem cu tine, clientul nostru.</p>
      </div>
      <div class="col-md-4">
        <p class="hidden-md hidden-lg">&nbsp;</p>
        <p class="text-center"><img src="assets/app/img/car-front.png" alt=""></p>
      </div>
    </div>
  </div>
</div>
<div class="section">
  <div class="container">
    <p>&nbsp;</p>
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        {% raw %}
          <script id="reviews-template" type="text/x-handlebars-template">
            <div id="reviews">
              {{#each reviews}}
                <div>
                  <p><img src="{{this.avatar}}" alt="{{this.reviewer}}" class="img-circle center-block"></p>
                  <p>&nbsp;</p>
                  <p class="h3 lead review">„{{this.text}}”</p>
                  <p>&nbsp;</p>
                  <p>{{this.reviewer}}</p>
                  <p>
                    {{#with this as |review|}}
                      {{#times 5}}
                        <span class="glyphicon glyphicon-star {{#if (lt this review.rating)}} text-info {{/if}}"></span>
                      {{/times}}
                    {{/with}}
                  </p>
                </div>
              {{/each}}
            </div>
          </script>
        {% endraw %}
      </div>
    </div>
  </div>
</div>
