<div class="section section-default" id="contact">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center">
        <h2>Contact</h2>
        <p class="lead">Ne ocupăm de toate nevoile mașinii tale. Ce problemă vă putem rezolva?</p>
        <p><a href="https://cdog.typeform.com/to/hGR0o9" class="btn btn-outline typeform-share" data-mode="1" target="_blank">Trimiteți-ne un mesaj</a></p>
        <hr class="divider divider-default">
        <h4>Informații de contact</h4>
        <p>
          <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;%67%61%62%72%69%65%6c.%64%75%72%62%61%63%61@%63%61%72%63%6f%6e%63%69%65%72%67%65.%72%6f">gabriel.durbaca@carconcierge.ro</a>
          <br>
          0740-303-651
        </p>
        <p>&nbsp;</p>
        <p><a href="#"><img src="assets/app/img/icon-fb.png" alt=""></a></p>
      </div>
    </div>
  </div>
</div>
