<div class="section section-secondary">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h2>Înmatriculare auto</h2>
        <p class="lead">Cu Car Concierge poți să-ți înmatriculezi mașina fără să mai trebuiască să alergi până spre capătul Bucureștiului.</p>
      </div>
      <div class="col-md-4">
        <p class="text-center invisible"><img alt="Servicii de înmatriculare auto - carconcierge.ro" src="/assets/app/img/car-register.png"></p>
      </div>
    </div>
  </div>
</div>
