<div class="section section-secondary">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <h2>Servicii de înmatriculare auto</h2>
        <p class="lead">Dacă ai ajuns aici înseamnă că știi că înmatricularea unei mașini durează minim două zile și ai ajuns la concluzia că ai nevoie de cineva care să te poată ajuta.</p>
      </div>
      <div class="col-md-3">
        <p class="text-center"><img alt="Servicii de înmatriculare auto - carconcierge.ro" src="/assets/app/img/car-register.png"></p>
      </div>
    </div>
  </div>
</div>
