<div class="section section-default" id="tarife">
  <div class="container text-center">
    <h2>Tarife</h2>
    <p>&nbsp;</p>
    <div class="row">
      <div class="col-md-3 col-xs-6">
        <div class="thumbnail">
          <div class="caption">
            <h1><sup>€</sup>300</h1>
            <hr class="divider divider-default">
            <p><img src="assets/app/img/pin-buy.png" alt=""></p>
            <h4>Cumperi</h4>
            <p>Consultanță pentru cumpărarea unui autovehicul</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-xs-6">
        <div class="thumbnail">
          <div class="caption">
            <h1><sup>€</sup>50</h1>
            <hr class="divider divider-default">
            <p><img src="assets/app/img/pin-register.png" alt=""></p>
            <h4>Înmatriculezi</h4>
            <p>Înmatriculare auto</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-xs-6">
        <div class="thumbnail">
          <div class="caption">
            <h1><sup>€</sup>25</h1>
            <hr class="divider divider-default">
            <p><img src="assets/app/img/pin-maintain.png" alt=""></p>
            <h4>Întreții</h4>
            <p>Preluare și livrare autoturism</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-xs-6">
        <div class="thumbnail">
          <div class="caption">
            <h1><sup>€</sup>300</h1>
            <hr class="divider divider-default">
            <p><img src="assets/app/img/pin-sell.png" alt=""></p>
            <h4>Vinzi</h4>
            <p>Consultanță pentru vânzarea unui autovehicul</p>
          </div>
        </div>
      </div>
    </div>
    <p class="text-center">* Prețurile afișate sunt orientative.</p>
  </div>
</div>
