<h3 class="text-center">
  <small class="shortname">Înmatriculezi</small>
  <br>
  Înmatriculare auto
</h3>
<hr class="divider divider-primary">
<div class="row">
  <div class="col-md-6">
    <h4>De ce</h4>
    <ul>
      <li>Pentru că ai nevoie de plăcuțele de înmatriculare, dar nu vrei să pierzi din timp ca să le obții. Și asta se poate, cu Car Concierge!</li>
    </ul>
  </div>
  <div class="col-md-6">
    <h4>Cum</h4>
    <ul>
      <li>Întocmim dosarul necesar înmatriculării.</li>
      <li>Ne ocupăm de plata taxelor necesare.</li>
      <li>Înregistrăm autoturismul la administrația financiară.</li>
      <li>Programăm și efectuăm inspecţia RAR, dacă este cazul.</li>
      <li>Depunem documentele la Poliție.</li>
      <li>Ridicăm plăcuțele de înmatriculare și ți le livrăm.</li>
    </ul>
  </div>
</div>
