<div class="section section-default" id="servicii">
  <div class="container">
    <h2 class="text-center">Servicii</h2>
    <p>&nbsp;</p>
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3">
        <div id="services-nav" class="text-center">
          <div><img src="{{ site.baseurl }}/assets/app/img/pin-buy.png" alt="Cumperi" class="center-block"></div>
          <div><img src="{{ site.baseurl }}/assets/app/img/pin-register.png" alt="Înmatriculezi" class="center-block"></div>
          <div><img src="{{ site.baseurl }}/assets/app/img/pin-maintain.png" alt="Întreții" class="center-block"></div>
          <div><img src="{{ site.baseurl }}/assets/app/img/pin-sell.png" alt="Vinzi" class="center-block"></div>
        </div>
      </div>
    </div>
    <div id="services">
      <div>{% include sections/services-buy.html %}</div>
      <div>{% include sections/services-register.html %}</div>
      <div>{% include sections/services-maintain.html %}</div>
      <div>{% include sections/services-sell.html %}</div>
    </div>
  </div>
</div>
<div class="section">
  <div class="container">
    {% include sections/services-other.html %}
  </div>
</div>
