<h1 class="h3 text-center">
  <small class="shortname">Vinzi</small>
  <br>
  Consultanță pentru vânzarea unui autovehicul
</h1>
<hr class="divider divider-primary">
<div class="row">
  <div class="col-md-6">
    <h4>De ce</h4>
    <ul>
      <li>Pentru că ar fi perfect dacă mașina ta ar putea să se vândă singură, fără ca acest lucru să îți mănânce din timp.Și asta se poate, cu Car Concierge!</li>
    </ul>
    <h4>Unde</h4>
    <ul>
      <li>Acasă, la birou, venim unde ne chemi.</li>
    </ul>
  </div>
  <div class="col-md-6">
    <h4>Cum</h4>
    <ul>
      <li>Contactezi Car Concierge pentru o discuție preliminară.</li>
      <li>Evaluăm mașina.</li>
      <li>Primești un preț de vânzare imediată și un preț al pieței (preț de vânzare în regim de consignație).</li>
      <li>
        Dacă optezi pentru a doua variantă, facem noi pentru tine următoarele:
        <ul>
          <li>Publicăm anunțul pe site-uri de specialitate;</li>
          <li>Te reprezentăm în fața potențialilor cumpărători;</li>
          <li>Negociem cel mai bun preț;</li>
          <li>Ajutăm la întocmirea actelor de vânzare.</li>
        </ul>
      </li>
    </ul>
  </div>
</div>
