<h1 class="h3 text-center">
  <small class="shortname">Cumperi</small>
  <br>
  <a href="{{ site.baseurl }}/cumparare-auto" title="Servicii de cumpărare auto">Consultanță pentru cumpărarea unui autovehicul</a>
</h1>
<hr class="divider divider-primary">
<div class="row">
  <div class="col-md-6">
    <h4>De ce</h4>
    <ul>
      <li>Pentru că vrei doar un autovehicul nou, nu și bătaia de cap care vine odată cu achiziționarea acestuia. Și asta se poate, cu Car Concierge!</li>
    </ul>
    <h4>Unde</h4>
    <ul>
      <li>Căutăm pentru tine locurile de unde îţi poţi achiziţiona o maşină nouă, ca să nu mai fii nevoit să baţi drumurile și să îţi pierzi timpul căutând cel mai bun "deal".</li>
    </ul>
  </div>
  <div class="col-md-6">
    <h4>Cum</h4>
    <ul>
      <li>Ne întâlnim şi aflăm ce anume cauţi: marca autovehiculului, clasa, segmentul din care face parte, forma caroseriei, motorizarea, dotările şi, nu în ultimul rând, bugetul pe care eşti dispus să îl aloci unei maşini noi. De aici încolo, găsirea mașinii tale e misiunea noastră!</li>
      <li>Căutăm şi alegem pentru tine 3 modele pe care îți oferim posibilitatea să le conduci într-un drive test.</li>
      <li>Negociem cel mai bun preţ pentru maşina pe care o alegi.</li>
      <li>Îți oferim asistență la semnarea contractului, întocmirea actelor necesare și preluarea mașinii.</li>
    </ul>
  </div>
</div>
