<h1 class="h4 text-center"><a href="{{ site.baseurl }}/servicii-conexe" title="Servicii conexe autoturisme">Servicii conexe</a></h1>
<p>&nbsp;</p>
<div class="row">
  <div class="col-xs-12 col-sm-2 col-sm-push-5">
    <p><img src="{{ site.baseurl }}/assets/app/img/car-keys.png" alt="Servicii auto conexe" class="img-responsive center-block"></p>
  </div>
  <div class="col-xs-6 col-sm-5 col-sm-pull-2">
    <p class="hidden-sm">&nbsp;</p>
    <ul>
      <li>Asigurări</li>
      <li>Consultanță pentru credite, leasing financiar, leasing operațional</li>
      <li>Rent-a-Car</li>
    </ul>
  </div>
  <div class="col-xs-6 col-sm-5">
    <p class="hidden-sm">&nbsp;</p>
    <ul>
      <li>Export</li>
      <li>Piese auto</li>
      <li>Orice alt mod în care crezi că te putem ajuta cu autovehiculul tău</li>
    </ul>
  </div>
</div>
