<div class="section section-default" id="services">
  <div class="container">
    <h2 class="text-center">Servicii</h2>
    <p>&nbsp;</p>
    <p><img src="assets/app/img/carousel.png" alt="" class="img-responsive center-block"></p>
    <div class="services-controls">
      <ul class="list-inline text-center">
        <li><a href="#buy"><img src="assets/app/img/pin-buy.png" alt="Cumperi"></a></li>
        <li><a href="#register"><img src="assets/app/img/pin-register.png" alt="Înmatriculezi"></a></li>
        <li><a href="#maintain"><img src="assets/app/img/pin-maintain.png" alt="Întreții"></a></li>
        <li><a href="#sell"><img src="assets/app/img/pin-sell.png" alt="Vinzi"></a></li>
      </ul>
    </div>
    <div class="services">
      <div>
        <h3 class="text-center">
          <small>Cumperi</small>
          <br>
          Consultanță pentru cumpărarea unui autovehicul
        </h3>
        <hr class="divider divider-primary">
        <div class="row">
          <div class="col-md-6">
            <h4>De ce</h4>
            <ul>
              <li>Pentru că vrei doar un autovehicul nou, nu și bătaia de cap care vine odată cu achiziționarea acestuia.</li>
            </ul>
            <h4>Unde</h4>
            <ul>
              <li>Căutăm pentru tine locurile de unde îţi poţi achiziţiona o maşină nouă, fără să fii nevoit să baţi drumurile sau să îţi pierzi timpul căutând cel mai bun „deal”.</li>
            </ul>
          </div>
          <div class="col-md-6">
            <h4>Cum</h4>
            <ul>
              <li>Ne întâlnim şi aflăm ce anume cauţi: marca autovehiculului, clasa, segmentul din care face parte, forma caroseriei, motorizarea, dotările şi, nu în ultimul rând, bugetul pe care eşti dispus să îl aloci unei maşini noi. De aici încolo, e misiunea noastră să te scutim de griji.</li>
              <li>Căutăm şi apoi alegem pentru tine 3 modele pe care îți oferim posibilitatea să le conduci într-un drive test.</li>
              <li>Nu în cele din urmă, negociem cel mai bun preţ pentru maşina pe care o alegi.</li>
              <li>Suntem alături de tine şi îți oferim asistență la semnarea contractului, întocmirea actelor necesare, preluarea mașinii și nu numai.</li>
            </ul>
          </div>
        </div>
      </div>
      <div>
        <h3 class="text-center">
          <small>Înmatriculezi</small>
          <br>
          Înmatriculare auto
        </h3>
        <hr class="divider divider-primary">
        <div class="row">
          <div class="col-md-6">
            <h4>De ce</h4>
            <ul>
              <li>Pentru că ai nevoie de plăcuțele de înmatriculare, dar nu vrei să pierzi din timpul tău prețios ca să le procuri.</li>
            </ul>
          </div>
          <div class="col-md-6">
            <h4>Cum</h4>
            <ul>
              <li>Întocmim dosarul necesar înmatriculării.</li>
              <li>Ne ocupăm de plata taxelor necesare.</li>
              <li>Înregistrăm autoturismul la administrația financiară.</li>
              <li>Programăm și efectuăm inspecţia  RAR, dacă este cazul.</li>
              <li>Depunem documentele la Poliție.</li>
              <li>Ridicăm numerele și ți le livrăm.</li>
            </ul>
          </div>
        </div>
      </div>
      <div>
        <h3 class="text-center">
          <small>Întreții</small>
          <br>
          Preluare și livrare autoturism
        </h3>
        <hr class="divider divider-primary">
        <div class="row">
          <div class="col-md-6">
            <h4>De ce</h4>
            <ul>
              <li>Pentru că mașina ta trebuie plimbată prin oraș pentru o problemă sau alta, dar tu nu ai timp de asta.</li>
            </ul>
            <h4>Unde</h4>
            <ul>
              <li>La revizie, service, ITP, evaluare daune, schimb anvelope, spălătorie și oriunde e nevoie.</li>
            </ul>
          </div>
          <div class="col-md-6">
            <h4>Cum</h4>
            <ul>
              <li>Contactezi echipa Car Concierge și ne comunici situația.</li>
              <li>Stabilim împreună locul ideal unde mașina ta va primi atenția necesară (cel indicat de tine, unul cu cele mai bune referințe sau unul cu cel mai bun preț).</li>
              <li>Îți comunicăm telefonic minim două oferte de preț sau costul exact dacă service-ul este unul indicat de tine, și confirmăm programarea.</li>
              <li>Preluăm maşina conform indicațiilor tale, apoi o livrăm cu tot cu factura (de la service, de la spălătorie, etc.).</li>
            </ul>
          </div>
        </div>
      </div>
      <div>
        <h3 class="text-center">
          <small>Vinzi</small>
          <br>
          Consultanță pentru vânzarea unui autovehicul
        </h3>
        <hr class="divider divider-primary">
        <div class="row">
          <div class="col-md-6">
            <h4>De ce</h4>
            <ul>
              <li>Pentru că ar fi perfect dacă mașina ta ar putea să se vândă singură, fără ca acest lucru să îți mănânce din timp.</li>
            </ul>
            <h4>Unde</h4>
            <ul>
              <li>Acasă, la birou, venim unde ne chemi.</li>
            </ul>
          </div>
          <div class="col-md-6">
            <h4>Cum</h4>
            <ul>
              <li>Contactezi echipa Car Concierge pentru o discuție preliminară.</li>
              <li>Evaluăm mașina.</li>
              <li>Primești un preț de vânzare imediată și un preț al pieței (preț de vânzare în regim de consignație).</li>
              <li>
                Dacă optezi pentru a doua variantă, facem noi pentru tine următoarele:
                <ul>
                  <li>Publicăm anunțul pe site-uri de specialitate;</li>
                  <li>Te reprezentăm în fața potențialilor cumpărători;</li>
                  <li>Negociem cel mai bun preț;</li>
                  <li>Ajutăm la întocmirea actelor de vânzare.</li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section">
  <div class="container">
    <h4 class="text-center">Servicii conexe</h4>
    <p>&nbsp;</p>
    <div class="row">
      <div class="col-xs-12 col-sm-2 col-sm-push-5">
        <p><img src="assets/app/img/keys.png" alt="" class="img-responsive center-block"></p>
      </div>
      <div class="col-xs-6 col-sm-5 col-sm-pull-2">
        <p class="hidden-sm">&nbsp;</p>
        <ul>
          <li>Asigurări</li>
          <li>Consultanță pentru credite, leasing financiar, leasing operațional</li>
          <li>Rent-a-Car</li>
        </ul>
      </div>
      <div class="col-xs-6 col-sm-5">
        <p class="hidden-sm">&nbsp;</p>
        <ul>
          <li>Export</li>
          <li>Piese auto</li>
          <li>Orice alt mod în care crezi că te putem ajuta cu autovehiculul tău</li>
        </ul>
      </div>
    </div>
  </div>
</div>
