<div class="section section-default" id="services">
  <div class="container">
    <h2 class="text-center">Servicii</h2>
    <p>&nbsp;</p>
    <p><img src="assets/app/img/carousel.png" alt="" class="img-responsive center-block"></p>
    <h3 class="text-center">
      <small>Întreții</small>
      <br>
      Preluare și livrare autoturism
    </h3>
    <hr class="divider divider-primary">
    <div class="row">
      <div class="col-md-6">
        <h4>De ce</h4>
        <ul>
          <li>Pentru că mașina ta trebuie plimbată prin oraș pentru o problemă sau alta, dar tu nu ai timp de asta.</li>
        </ul>
        <h4>Unde</h4>
        <ul>
          <li>La revizie, service, ITP, evaluare daune, schimb anvelope, spălătorie și oriunde e nevoie.</li>
        </ul>
      </div>
      <div class="col-md-6">
        <h4>Cum</h4>
        <ul>
          <li>Contactezi echipa Car Concierge și ne comunici situația.</li>
          <li>Stabilim împreună locul ideal unde mașina ta va primi atenția necesară (cel indicat de tine, unul cu cele mai bune referințe sau unul cu cel mai bun preț).</li>
          <li>Îți comunicăm telefonic minim două oferte de preț sau costul exact dacă service-ul este unul indicat de tine, și confirmăm programarea.</li>
          <li>Preluăm maşina conform indicațiilor tale, apoi o livrăm cu tot cu factura (de la service, de la spălătorie, etc.).</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="section">
  <div class="container">
    <h4 class="text-center">Servicii conexe</h4>
    <p>&nbsp;</p>
    <div class="row">
      <div class="col-xs-12 col-sm-2 col-sm-push-5">
        <p><img src="assets/app/img/keys.png" alt="" class="img-responsive center-block"></p>
      </div>
      <div class="col-xs-6 col-sm-5 col-sm-pull-2">
        <p class="hidden-sm">&nbsp;</p>
        <ul>
          <li>Asigurări</li>
          <li>Consultanță pentru credite, leasing financiar, leasing operațional</li>
          <li>Rent-a-Car</li>
        </ul>
      </div>
      <div class="col-xs-6 col-sm-5">
        <p class="hidden-sm">&nbsp;</p>
        <ul>
          <li>Export</li>
          <li>Piese auto</li>
          <li>Orice alt mod în care crezi că te putem ajuta cu autovehiculul tău</li>
        </ul>
      </div>
    </div>
  </div>
</div>
