<div class="section section-default">
  <div class="container">
    <h2 class="text-center">
      <small>Ai ajuns unde trebuie</small>
      <br>
      Bun venit la carconcierge.ro!
    </h2>
    <hr class="divider divider-primary">
    <div class="row">
      <div class="col-md-4">
        <h3>Cine suntem</h3>
        <p>O firmă de servicii pentru posesorii de mașini, care doresc ca autoturismul lor să-i ajute să câștige timp, nu să îl piardă. Facem asta dn 2013 și ne mândrim că avem doar clienți mulțumiți.</p>
      </div>
      <div class="col-md-4">
        <h3>Ce facem</h3>
        <p>Te ajutăm să cumperi sau să vinzi mașina, fără bătăi de cap. Facem acte, ne ocupăm de ITP, revizii, schimb de anevlope și tot ce mai ai nevoie pentru mașina ta.</p>
      </div>
      <div class="col-md-4">
        <h3>De ce o facem</h3>
        <p>Fiindcă știm că timpul este prețios. Și, evident, pentru că ne plac foarte mult mașinile. Toate!</p>
      </div>
    </div>
  </div>
</div>
