<div class="section section-default">
  <div class="container">
    <h2 class="text-center">
      <small>Bun venit la carconcierge.ro!</small>
      <br>
      Ai ajuns unde trebuie.
    </h2>
    <hr class="divider divider-primary">
    <div class="row">
      <div class="col-md-4">
        <h3>Cine suntem</h3>
        <p>Suntem o echipă care nu îl cunoaște pe „Nu se poate!” și care îl ține mereu aproape pe „Găsim o soluție!”.</p>
      </div>
      <div class="col-md-4">
        <h3>Ce facem</h3>
        <p>Îţi oferim ocazia să te ocupi de toate treburile tale de zi cu zi, în timp ce noi ne ocupăm de treburile maşinii pe care o vrei sau pe care o deţii.</p>
      </div>
      <div class="col-md-4">
        <h3>De ce o facem</h3>
        <p>Echipa Car Concierge știe că timpul tău este prețios. De aceea, tot ce ai de făcut este să ne contactezi și îți punem mașina la drum ca să nu te pună ea pe drumuri pe tine.</p>
      </div>
    </div>
  </div>
</div>
