<div class="section">
  <div class="container">
    <h2 class="text-center">Vinzi</h2>
    <p>&nbsp;</p>
    <div id="row">
      <h3 class="text-center">
        Consultanță pentru vânzarea unui autovehicul
      </h3>
      <hr class="divider divider-primary">
      <div class="row">
        <div class="col-md-6">
          <h4>De ce</h4>
          <ul>
            <li>Pentru că ar fi perfect dacă mașina ta ar putea să se vândă singură, fără ca acest lucru să îți mănânce din timp.Și asta se poate, cu Car Concierge!</li>
          </ul>
          <h4>Unde</h4>
          <ul>
            <li>Acasă, la birou, venim unde ne chemi.</li>
          </ul>
        </div>
        <div class="col-md-6">
          <h4>Cum</h4>
          <ul>
            <li>Contactezi Car Concierge pentru o discuție preliminară.</li>
            <li>Evaluăm mașina.</li>
            <li>Primești un preț de vânzare imediată și un preț al pieței (preț de vânzare în regim de consignație).</li>
            <li>
              Dacă optezi pentru a doua variantă, facem noi pentru tine următoarele:
              <ul>
                <li>Publicăm anunțul pe site-uri de specialitate;</li>
                <li>Te reprezentăm în fața potențialilor cumpărători;</li>
                <li>Negociem cel mai bun preț;</li>
                <li>Ajutăm la întocmirea actelor de vânzare.</li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section">
  <div class="container">
    <h4 class="text-center">Servicii conexe</h4>
    <p>&nbsp;</p>
    <div class="row">
      <div class="col-xs-12 col-sm-2 col-sm-push-5">
        <p><img src="{{ site.baseurl }}/assets/app/img/car-keys.png" alt="" class="img-responsive center-block"></p>
      </div>
      <div class="col-xs-6 col-sm-5 col-sm-pull-2">
        <p class="hidden-sm">&nbsp;</p>
        <ul>
          <li>Asigurări</li>
          <li>Consultanță pentru credite, leasing financiar, leasing operațional</li>
          <li>Rent-a-Car</li>
        </ul>
      </div>
      <div class="col-xs-6 col-sm-5">
        <p class="hidden-sm">&nbsp;</p>
        <ul>
          <li>Export</li>
          <li>Piese auto</li>
          <li>Orice alt mod în care crezi că te putem ajuta cu autovehiculul tău</li>
        </ul>
      </div>
    </div>
  </div>
</div>
