---
layout: default
title: "Cumpărare auto"
permalink: /cumparare-auto/
slug: cumparare-auto
---

{% include sections/hero.html %}
<div class="section section-default">
  <div class="container">
    <div class="col-md-9">
    	<h1>Consultanță pentru cumpărarea unui autovehicul</h1>
    	<p>Cu Car Concierge poți să-ți cumperi un autovehicul nou, fără să cheltuieși și timp, pe lângă bani. Ne contactezi, ne întâlnim și ne spui ce anume cauți.</p>
    	<p>Cu alte cuvinte, care e mașina visurilor tale, de la culoare la formă, de la număr de kilometri până la carburantul folosit. Cu imaginea oferită de tine, noi ne punem pe căutat oferte sau locuri de unde îți poți achiziționa mașina dorită. Găsim 3 modele, cele mai apropiate de dorințele tale, și îți organizăm un drive-test. Negociem cel mai bun preț pentru mașina pe care tu o vei alege. Oferim asistență la semnarea contractului, obținerea actelor necesare și preluarea mașinii.</p>
    	<p>Cu alte cuvinte, ai de ținut minte 2 cuvinte: Car Concierge. ( Și mașina e la poartă!)</p>
    </div>
    <div class="col-md-3 text-center">
    	<div class="thumbnail">
          <div class="caption">
            <h1><sup>€</sup>300</h1>
            <hr class="divider divider-default">
            <p><img src="{{ site.baseurl }}/assets/app/img/pin-buy.png" alt="Servicii de consultanţă în achiziţionarea unui autoturism"></p>
            <h1 class="h4">Cumpărăm!</h1>
          </div>
          <p class="text-center">* Prețurile afișate sunt orientative.</p>
        </div>
    </div>
  </div>
</div>
{% include sections/contact.html %}
