---
layout: default
title: "Cumpărare auto"
description: "Cu Car Concierge poți să-ți cumperi un autovehicul nou, fără să cheltuieși și timp, pe lângă bani."
permalink: /cumparare-auto/
slug: cumparare-auto
sitemap:
  lastmod: '16-03-2016'
  priority: 1.0
  changefreq: monthly
  exclude: 'no'
---

{% include partials/hero.html %}
<div class="section section-default section-sm">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="page-header">
          <h2 class="h3">Consultanță pentru cumpărarea unui autovehicul</h2>
        </div>
        <p>Eşti prins în procesul de cumparare al unei maşini, aşa e? Nu te speria, durează!</p>
        <p>Conform studiilor, procesul de cumpărare al unei maşini durează în medie 75 de zile în cazul femeilor şi 63 în cazul bărbaţilor. Şi asta nu e tot, în final doar doi din cinci bărbaţi ştiu exact ce vor iar în cazul femeilor doar una. Ţi-am captat atenţia? Contactează-ne şi iţi oferim o şedinţă de consultanţă gratuită.</p>
        <p>Ce facem pentru tine? Foarte multe:</p>
        <ul>
          <li>Ne întâlnim și ne spui ce anume cauți, de la culoare la formă, de la numărul de kilometri parcurşi anual până la carburantul preferat, de la dotările minime până la cele de ultimă generaţie şi, nu în ultimul rând, bugetul.</li>
          <li>Cu imaginea oferită de tine, noi ne punem pe căutat şi îţi spunem ce ţi se potriveşte.</li>
          <li>Tu alegi trei modele iar noi îţi organizăm o sesiune de drive-test cu fiecare în parte.</li>
          <li>Negociem cel mai bun preţ pentru maşina pe care tu o vei alege.</li>
          <li>Oferim asistență la semnarea contractului.</li>
          <li>În ziua livrării venim să te luăm de acasă sau de la birou şi te însoţim la dealer.</li>
        </ul>
        <p>În cazul în care nu ai toţi banii, te ajutăm să obţii şi finanţarea.</p>
        <p>De ce să angajezi un consilier Car Concierge?</p>
        <ul>
          <li>reduci procesul de cumpărare la maxim 20 zile;</li>
          <li>suntem echidistanţi faţă de orice producător;</li>
        </ul>
        <p>Știu, acum te întrebi ce trebuie să mai faci tu! Trebuie doar să ne contactezi folosind informațiile de contact sau prin completarea formularul alăturat.</p>
      </div>
      <div class="col-md-4">
        <div class="well well-lg call-to-action">
          {% include partials/contact-form.html %}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section section-sm">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <p>Tariful pentru serviciul de consultanță achiziţie autoturisme noi este de <strong><sup>€</sup>300</strong>.</p>
      </div>
    </div>
  </div>
</div>
<div class="section section-default">
  <div class="container">
    {% include partials/contact-details.html %}
  </div>
</div>
