---
layout: default
title: "Consultanta Cumparare Auto"
description: "Vrei sa-ti cumperi o masina noua, dar nu esti sigur care ti se potriveste sau nu ai timpul necesar? Apeleaza acum la serviciile noastre de consultanta achizitie autoturism nou."
keywords: [consultanță auto, înmatriculări, cumpărare auto, vânzare auto, servicii conexe auto, mașini noi, mașini second hand, consultanță cumpărare autoturisme noi, consultanță finanțare achiziție auto]
permalink: /consultanta-auto/
slug: consultanta-auto
sitemap:
  lastmod: '03-08-2020'
  priority: 1.0
  changefreq: monthly
  exclude: 'no'
---

{% include partials/hero.html %}
<div class="section section-default section-sm">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="page-header">
          <h2 class="h3">Consultanță pentru cumpărarea unui autovehicul</h2>
        </div>
        <p>Ești prins în procesul de cumparare al unei mașini, așa e? Nu te speria, durează!</p>
        <p>Conform studiilor, procesul de cumpărare al unei mașini durează în medie 75 de zile în cazul femeilor și 63 în cazul bărbaților. și asta nu e tot, în final doar doi din cinci bărbați știu exact ce vor iar în cazul femeilor doar una. ți-am captat atenția? Contactează-ne și iți oferim o ședință de consultanță gratuită.</p>
        <p>Ce facem pentru tine? Foarte multe:</p>
        <ul>
          <li>Ne întâlnim și ne spui ce anume cauți, de la culoare la formă, de la numărul de kilometri parcurși anual până la carburantul preferat, de la dotările minime până la cele de ultimă generație și, nu în ultimul rând, bugetul.</li>
          <li>Cu imaginea oferită de tine, noi ne punem pe căutat și îți spunem ce ți se potrivește.</li>
          <li>Tu alegi trei modele iar noi îți organizăm o sesiune de drive-test cu fiecare în parte.</li>
          <li>Negociem cel mai bun preț pentru mașina pe care tu o vei alege.</li>
          <li>Oferim asistență la semnarea contractului.</li>
          <li>În ziua livrării venim să te luăm de acasă sau de la birou și te însoțim la dealer.</li>
        </ul>
        <p>În cazul în care nu ai toți banii, te ajutăm să obții și finanțarea.</p>
        <p>De ce să angajezi un consilier Car Concierge?</p>
        <ul>
          <li>reduci procesul de cumpărare la maxim 20 zile;</li>
          <li>suntem echidistanți față de orice producător;</li>
        </ul>
        <p>Știu, acum te întrebi ce trebuie să mai faci tu! Trebuie doar să ne contactezi folosind informațiile de contact sau prin completarea formularul alăturat.</p>
      </div>
      <div class="col-md-4">
        <div class="well well-lg call-to-action">
          {% include partials/contact-form.html %}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section section-sm">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <p>Tariful pentru serviciul de consultanță achiziție autoturisme noi este de 2% din valoarea tranzacției, dar nu mai puțin de <strong><sup>€</sup>500</strong>.</p>
      </div>
    </div>
  </div>
</div>
<div class="section section-default">
  <div class="container">
    {% include partials/contact-details.html %}
  </div>
</div>
