---
layout: default
title: "Întreţinere auto"
permalink: /intretinere-auto/
slug: intretinere-auto
---

{% include sections/hero.html %}
<div class="section section-default">
  <div class="container">
    <div class="col-md-9">
    	<h1>Preluare și livrare autoturism</h1>
    	<p>Cu Car Concierge mașina ta va avea parte de atenția cuvenită, chiar dacă nu te afli tu la volan.</p>
    	<p>Noi o putem duce în locul tău la service sau ITP, pentru a o evalua sau a-i face schimbul de anvelope, la spălătorie sau unde mai este nevoie. După ce ne contactezi și stabilim împreună locul unde mașina ta ar fi cel mai bine tratată, (service-ul indicat de tine, unul cu referințe bune sau cu cel mai bun preț) noi îți comunicăm cele mai bune 2 oferte de preț, facem programarea, preluăm mașina, apoi ți-o livrăm, cu tot cu factură.</p>
    	<p>Contactează-ne! Suntem Car Concierge.</p>
    </div>
    <div class="col-md-3 text-center">
    	<div class="thumbnail">
          <div class="caption">
            <h1><sup>€</sup>25</h1>
            <hr class="divider divider-default">
            <p><img src="{{ site.baseurl }}/assets/app/img/pin-maintain.png" alt="Servicii de întreţinere autoturism"></p>
            <h1 class="h4">Întreținem!</h1>
          </div>
          <p class="text-center">* Prețurile afișate sunt orientative.</p>
        </div>
    </div>
  </div>
</div>
{% include sections/contact.html %}
