---
layout: default
title: "Întreţinere auto"
description: "Cu Car Concierge mașina ta va avea parte de atenția cuvenită, chiar dacă nu te afli tu la volan."
permalink: /intretinere-auto/
slug: intretinere-auto
---

{% include sections/landing-hero.html %}
<div class="section section-default section-sm">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h2 class="h3">Preluare și livrare autoturism</h2>
        <hr/>
        <p>Noi o putem duce în locul tău la service sau ITP, pentru a o evalua sau a-i face schimbul de anvelope, la spălătorie sau unde mai este nevoie. După ce ne contactezi și stabilim împreună locul unde mașina ta ar fi cel mai bine tratată, (service-ul indicat de tine, unul cu referințe bune sau cu cel mai bun preț) noi îți comunicăm cele mai bune 2 oferte de preț, facem programarea, preluăm mașina, apoi ți-o livrăm, cu tot cu factură.</p>
        <p>Contactează-ne! Suntem Car Concierge.</p>
      </div>
      <div class="col-md-4">
        {% include sections/landing-contact.html %}
      </div>
    </div>
  </div>
</div>
<div class="section section-sm">
  <div class="container">
    <p>Prețul pentru serviciul de întreţinere auto este de numai <strong><sup>€</sup>25</strong>.</p>
  </div>
</div>
{% include sections/landing-contact-info.html %}
