---
layout: default
title: "Întreținere auto"
description: "Cu Car Concierge mașina ta va avea parte de atenția cuvenită, chiar dacă nu te afli tu la volan."
keywords: [consultanță auto, mașini noi, mașini second hand, întreținere auto, service auto, revizii, mentenanță]
permalink: /intretinere-auto/
slug: intretinere-auto
sitemap:
  lastmod: '16-03-2016'
  priority: 1.0
  changefreq: monthly
  exclude: 'no'
---

{% include partials/hero.html %}
<div class="section section-default section-sm">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="page-header">
          <h2 class="h3">Preluare și livrare autoturism</h2>
        </div>
        <p>Noi o putem duce în locul tău la service sau ITP, pentru a o evalua sau a-i face schimbul de anvelope, la spălătorie sau unde mai este nevoie. După ce ne contactezi și stabilim împreună locul unde mașina ta ar fi cel mai bine tratată, (service-ul indicat de tine, unul cu referințe bune sau cu cel mai bun preț) noi îți comunicăm cele mai bune 2 oferte de preț, facem programarea, preluăm mașina, apoi ți-o livrăm, cu tot cu factură.</p>
        <p>Contactează-ne! Suntem Car Concierge.</p>
      </div>
      <div class="col-md-4">
        <div class="well well-lg call-to-action">
          {% include partials/contact-form.html %}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section section-sm">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <p>Prețul pentru serviciul de întreținere auto este de numai <strong><sup>€</sup>25</strong>.</p>
      </div>
    </div>
  </div>
</div>
<div class="section section-default">
  <div class="container">
    {% include partials/contact-details.html %}
  </div>
</div>
