---
layout: default
title: "Servicii conexe"
permalink: /servicii-conexe/
slug: servicii-conexe
---

{% include sections/landing-hero.html %}
<div class="section section-default section-sm">
  <div class="container">
    <div class="row">
        <div class="col-md-8">
            <h2 class="h3">Servicii conexe</h2>
            <hr/>
            <p>Putem face asigurări sau oferi consultanță pentru credit, leasing financiar sau operațional. Putem asigura închirierea unei mașini, exportul de mașini sau procurarea de piese auto.</p>
            <p>Contactează Car Concierge și spune-ne care-i problema cu mașina. De aici încolo ne ocupăm noi.</p>
        </div>
        <div class="col-md-4">
            {% include sections/landing-contact.html %}
        </div>
    </div>
  </div>
</div>
<div class="section section-sm">
  <div class="container">
    <p>Prețul pentru serviciile conexe pot fi comunicate atunci când ne contactați și ne spuneți cu ce vă putem ajuta.</p>
  </div>
</div>
{% include sections/landing-contact-info.html %}
