---
layout: default
title: "Înmatriculare auto"
permalink: /inmatriculare-auto/
slug: inmatriculare-auto
---

{% include sections/hero.html %}
<div class="section section-default">
  <div class="container">
  	<div class="col-md-9">
  		<h1>Înmatriculare auto</h1>
    	<p>Cu Car Concierge poți să-ți înmatriculezi mașina fără să mai trebuiască să alergi până spre capătul Bucureștiului.</p>
    	<p>Noi putem întocmi dosarul necesar procesului de înregistrare a mașinii, plătim taxele obligatorii, mergem la secția financiară ca să înregistrăm autoturismul și, dacă este cazul, programăm și inspecția RAR. Depunem și ridicăm documentele de la Poliție și îți aducem plăcuțele de înmatriculare acasă.</p>
    	<p>Tu sună-ne. De restul ne ocupăm noi.</p>
  	</div>
  	<div class="col-md-3 text-center">
		<div class="thumbnail">
			<div class="caption">
				<h1><sup>€</sup>50</h1>
				<hr class="divider divider-default">
				<p><img src="{{ site.baseurl }}/assets/app/img/pin-register.png" alt="Servicii de înmatriculare autoturism"></p>
				<h1 class="h4">Înmatriculăm!</h1>
			</div>
		</div>
		<p class="text-center">* Prețurile afișate sunt orientative.</p>
	</div>
  </div>
</div>
{% include sections/contact.html %}
