---
layout: default
title: "Înmatriculare auto"
permalink: /inmatriculare-auto/
slug: inmatriculare-auto
---

{% include sections/landing-hero.html %}
<div class="section section-default">
  <div class="container">
    <h2 class="h3">Ce facem pentru tine?</h2>
    <ul>
      <li>Venim să luam actele.</li>
      <li>Înscriem mașina la DITL.</li>
      <li>Depunem dosarul la ANAF pentru calculul timbrului de mediu.</li>
      <li>Plătim toate taxele necesare înmatriculării.</li>
      <li>Te programăm și te însoțim la RAR (dacă e cazul).</li>
      <li>Întocmim dosarul pentru plăcuțe și îl depunem la poliție.</li>
      <li>Ridicăm numerele și ți le aducem.</li>
    </ul>
    <h2 class="h3">Cât costă?</h2>
    <p>Prețul pentru serviciul de înmatriculare auto este de 50 de euro.</p>
    <h2 class="h3">Ce trebuie să faci tu?</h2>
    <p>Trebuie să ne suni sau să ne trimiți un mesaj și să ne imputernicești.</p>
  </div>
</div>
{% include sections/contact.html %}
