---
layout: default
title: "Vânzare auto"
permalink: /vanzare-auto/
slug: vanzare-auto
---

{% include sections/hero.html %}
<div class="section section-default">
  <div class="container">
    <div class="col-md-9">
    	<h1>Consultanță pentru vânzarea unui autovehicul</h1>
    	<p>Cu Car Concierge poți să îți vinzi mașina fără să mai ai tu bătăi de cap. Pașii sunt simpli și doar câțiva: ne suni, apoi ne întâlnim și discutăm despre vânzarea mașinii tale.</p>
    	<p>Noi îi facem evaluarea, îți comunicăm un preț, atât pentru vânzarea imediată, cât și pentru vânzarea în regim de consignație. Dacă mergi pe a doua variantă, noi publicăm anunțurile pe site-urile de specialitate, te reprezentăm în fața eventualilor cumpărători, negociem prețul și, bineînțeles, ajutăm la întocmirea actelor.</p>
    	<p>Tu trebuie, așadar, să ții minte 2 cuvinte: Car Concierge. Hai că-i simplu, nu ?</p>
    </div>
    <div class="col-md-3 text-center">
		<div class="thumbnail">
			<div class="caption">
				<h1><sup>€</sup>300</h1>
				<hr class="divider divider-default">
				<p><img src="{{ site.baseurl }}/assets/app/img/pin-sell.png" alt="Servicii de consultanţă pentru vânzarea unui autoturism"></p>
				<h1 class="h4">Vindem!</h1>
			</div>
			<p class="text-center">* Prețurile afișate sunt orientative.</p>
		</div>
    </div>
  </div>
</div>
{% include sections/contact.html %}
