---
layout: default
title: "Vânzare auto"
description: "Cu Car Concierge poți să îți vinzi mașina fără să mai ai tu bătăi de cap."
permalink: /vanzare-auto/
slug: vanzare-auto
---

{% include sections/landing-hero.html %}
<div class="section section-default section-sm">
  <div class="container">
    <div class="row">
        <div class="col-md-8">
            <h2 class="h3">Consultanță pentru vânzarea unui autovehicul</h2>
            <hr/>
            <p>Pașii sunt simpli și doar câțiva: ne suni, apoi ne întâlnim și discutăm despre vânzarea mașinii tale.</p>
            <p>Noi îi facem evaluarea, îți comunicăm un preț, atât pentru vânzarea imediată, cât și pentru vânzarea în regim de consignație. Dacă mergi pe a doua variantă, noi publicăm anunțurile pe site-urile de specialitate, te reprezentăm în fața eventualilor cumpărători, negociem prețul și, bineînțeles, ajutăm la întocmirea actelor.</p>
            <p>Tu trebuie, așadar, să ții minte 2 cuvinte: Car Concierge. Hai că-i simplu, nu ?</p>
            <p>Trebuie doar să ne contactezi folosind informațiile de contact sau prin completarea formularul alăturat.</p>
        </div>
        <div class="col-md-4">
            {% include sections/landing-contact.html %}
        </div>
    </div>
  </div>
</div>
<div class="section section-sm">
  <div class="container">
    <p>Prețul pentru serviciul de consultanță pentru vânzarea unui autovehicul este de numai <strong><sup>€</sup>300</strong>.</p>
  </div>
</div>
{% include sections/landing-contact-info.html %}
