<div class="section section-default" id="despre-noi">
  <div class="container">
    <h1 class="h2">Despre noi</h1>
    <div class="row">
      <div class="col-md-8">
        <p class="text-large">Suntem o echipă pregătită să se ocupe de toate bătăile de cap care vin odată cu procurarea unei mașini noi, începând cu achiziția ei, continuând cu întreținerea, schimbul de cauciucuri, ITP.</p>
        <p>Și nu ne ocupăm doar de mașina nouă, ci te scăpăm și de cea veche, ajutându-te s-o vinzi.</p>
        <p>Ne bazăm pe încredere, profesionalism și transparență în relația pe care o avem cu tine, clientul nostru.</p>
      </div>
      <div class="col-md-4">
        <p class="hidden-md hidden-lg">&nbsp;</p>
        <p class="text-center"><img src="{{ site.baseurl }}/assets/app/img/car-front.png" alt="Servicii de consultanță auto - carconcierge.ro"></p>
      </div>
    </div>
  </div>
</div>
