<div class="section section-default" id="tarife">
  <div class="container text-center">
    <h1 class="h2">Tarife</h1>
    <p>&nbsp;</p>
    <div class="row">
      <div class="col-md-3 col-ms-6">
        <a class="thumbnail" href="{{ site.baseurl }}/consultanta-auto" title="Servicii de consultanță pentru cumpărarea unui autovehicul - carconcierge.ro">
          <div class="caption">
            <h1><sup>€</sup>300</h1>
            <hr class="divider divider-default">
            <p><img src="{{ site.baseurl }}/assets/app/img/pin-buy.png" alt="Servicii de consultanță în achiziționarea unui autoturism"></p>
            <h1 class="h4">Cumperi</h1>
            <p>Consultanță pentru cumpărarea unui autovehicul</p>
          </div>
        </a>
      </div>
      <div class="col-md-3 col-ms-6">
        <a class="thumbnail" href="{{ site.baseurl }}/inmatriculare-auto" title="Servicii de înmatriculare auto - carconcierge.ro">
          <div class="caption">
            <h1><sup>€</sup>59</h1>
            <hr class="divider divider-default">
            <p><img src="{{ site.baseurl }}/assets/app/img/pin-register.png" alt="Servicii de înmatriculare autoturism"></p>
            <h1 class="h4">Înmatriculezi</h1>
            <p>Înmatriculare auto</p>
          </div>
        </a>
      </div>
      <div class="col-md-3 col-ms-6">
        <a class="thumbnail" href="{{ site.baseurl }}/intretinere-auto" title="Servicii de întreținere auto - carconcierge.ro">
          <div class="caption">
            <h1><sup>€</sup>29</h1>
            <hr class="divider divider-default">
            <p><img src="{{ site.baseurl }}/assets/app/img/pin-maintain.png" alt="Servicii de întreținere autoturism"></p>
            <h1 class="h4">Întreții</h1>
            <p>Preluare și livrare autoturism</p>
          </div>
        </a>
      </div>
      <div class="col-md-3 col-ms-6">
        <a class="thumbnail" href="{{ site.baseurl }}/vanzare-auto" title="Servicii de vânzare auto - carconcierge.ro">
          <div class="caption">
            <h1><sup>€</sup>300</h1>
            <hr class="divider divider-default">
            <p><img src="{{ site.baseurl }}/assets/app/img/pin-sell.png" alt="Servicii de consultanță pentru vânzarea unui autoturism"></p>
            <h1 class="h4">Vinzi</h1>
            <p>Consultanță pentru vânzarea unui autovehicul</p>
          </div>
        </a>
      </div>
    </div>
    <p class="text-center">* Prețurile afișate sunt orientative.</p>
  </div>
</div>
<div class="section">
  <div class="container">
    <p>&nbsp;</p>
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <div id="reviews">
          {% for review in site.data.reviews %}
            <div>
              <p><img src="{{ site.baseurl }}/{{ review.avatar }}" alt="{{ review.reviewer }}" class="img-circle center-block"></p>
              <p>&nbsp;</p>
              {% if review.text.size > 0 %}
                <p class="h3 lead review">„{{ review.text }}”</p>
                <p>&nbsp;</p>
              {% endif %}
              <p>{{ review.reviewer }}</p>
              <p>
                {% for i in (0..4) %}
                  <span class="glyphicon glyphicon-star {% if i < review.rating %} text-info {% endif %}"></span>
                {% endfor %}
              </p>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
