<div class="section section-default" id="servicii">
  <div class="container">
    <h1 class="h2 text-center">Servicii</h1>
    <p>&nbsp;</p>
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3">
        <div id="services-nav" class="text-center">
          <div><img src="{{ site.baseurl }}/assets/app/img/pin-buy.png" alt="Servicii de consultanţă în cumpărarea autovehiculului" class="center-block"></div>
          <div><img src="{{ site.baseurl }}/assets/app/img/pin-register.png" alt="Servicii de înmatriculare auto" class="center-block"></div>
          <div><img src="{{ site.baseurl }}/assets/app/img/pin-maintain.png" alt="Servicii de consultanţă în întreţinerea autovehiculului" class="center-block"></div>
          <div><img src="{{ site.baseurl }}/assets/app/img/pin-sell.png" alt="Servicii de consultanţă în vânzarea autovehiculului" class="center-block"></div>
        </div>
      </div>
    </div>
    <div id="services">
      <div>{% include partials/services-buy.html %}</div>
      <div>{% include partials/services-register.html %}</div>
      <div>{% include partials/services-maintain.html %}</div>
      <div>{% include partials/services-sell.html %}</div>
    </div>
  </div>
</div>
<div class="section">
  <div class="container">
    {% include partials/services-other.html %}
  </div>
</div>
