<h1 class="h3 text-center">
  <small class="shortname">Întreții</small>
  <br>
  <a href="{{ site.baseurl }}/intretinere-auto" title="Servicii de întreținere autoturism">Preluare și livrare autoturism</a>
</h1>
<hr class="divider divider-primary">
<div class="row">
  <div class="col-md-6">
    <h4>De ce</h4>
    <ul>
      <li>Pentru că mașina ta trebuie plimbată prin oraș pentru o problemă sau alta, dar tu nu ai timp de asta. Și asta se poate, cu Car Concierge!</li>
    </ul>
    <h4>Unde</h4>
    <ul>
      <li>La revizie, service, ITP, evaluare daune, schimb anvelope, spălătorie și oriunde mai este nevoie.</li>
    </ul>
  </div>
  <div class="col-md-6">
    <h4>Cum</h4>
    <ul>
      <li>Contactezi Car Concierge și ne comunici situația.</li>
      <li>Stabilim împreună locul ideal unde mașina ta va primi atenția necesară (cel indicat de tine, unul cu cele mai bune referințe sau unul cu cel mai bun preț).</li>
      <li>Îți comunicăm telefonic minim două oferte de preț sau costul exact, dacă service-ul este unul indicat de tine, și confirmăm programarea.</li>
      <li>Preluăm maşina conform indicațiilor tale, apoi o livrăm cu tot cu factura (de la service, de la spălătorie, etc.).</li>
    </ul>
  </div>
</div>
