<h1 class="h3 text-center">
  <small class="shortname">Cumperi</small>
  <br>
  <a href="{{ site.baseurl }}/consultanta-auto" title="Servicii de consultanță auto">Consultanță pentru cumpărarea unui autovehicul</a>
</h1>
<hr class="divider divider-primary">
<div class="row">
  <div class="col-md-6">
    <h4>De ce</h4>
    <ul>
      <li>Pentru că vrei doar un autovehicul nou, nu și bătaia de cap care vine odată cu achiziționarea acestuia. Și asta se poate, cu Car Concierge!</li>
    </ul>
    <h4>Unde</h4>
    <ul>
      <li>Căutăm pentru tine locurile de unde îți poți achiziționa o mașină nouă, ca să nu mai fii nevoit să bați drumurile și să îți pierzi timpul căutând cel mai bun "deal".</li>
    </ul>
  </div>
  <div class="col-md-6">
    <h4>Cum</h4>
    <ul>
      <li>Ne întâlnim și aflăm ce anume cauți: marca autovehiculului, clasa, segmentul din care face parte, forma caroseriei, motorizarea, dotările și, nu în ultimul rând, bugetul pe care ești dispus să îl aloci unei mașini noi. De aici încolo, găsirea mașinii tale e misiunea noastră!</li>
      <li>Căutăm și alegem pentru tine 3 modele pe care îți oferim posibilitatea să le conduci într-un drive test.</li>
      <li>Negociem cel mai bun preț pentru mașina pe care o alegi.</li>
      <li>Îți oferim asistență la semnarea contractului, întocmirea actelor necesare și preluarea mașinii.</li>
    </ul>
  </div>
</div>
